
h1 {
    text-decoration: underline;
    color: #4a4949;
    text-align: center;
    font-family: 'Cinzel', serif;
}

* {
    padding: 11px;
    margin: -5px;
    box-sizing: border-box;
    /* overflow: ; */
    /* overflow-x: hidden; */
}

.slide {

    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;

}

.flexcontainer {
    font-size: 20px;
    color: #696868;
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: pre-wrap;
    font-family: 'Dancing Script', cursive;
    /*font-family: 'Poppins', sans-serif;*/
}

.profess {

    width: 30%;
    float: right;
    margin-right: 5%;

}

#textinsidepro {
    font-size: 25px;
    text-decoration: underline;
    margin-top: 25px;
    margin-left: 20%;
    color: #b0b0b0;
}

#hello {
    font-size: 20px;
    margin-top: 25px;
    margin-left: 20%;
}

.pro {

    position: absolute;
    width: 70%;
    left: 15%;

}

.centered-hr {
    margin: 0 auto;
}

.newwproo {
    position: absolute;
    left: 15%;
    width: 20%;
    margin-top: 300px;

}

.banner-text {
    text-shadow: #000000;
    font-family: 'Cinzel', serif;
    font-size: 45px;
    position: absolute;
    top: 0;
    margin-top: 270px;
    left: 10%;
    color: rgb(255, 255, 255);
    padding: 10px;


}

.test1 {
    font-size: 25px;
    text-decoration: underline;
    margin-top: 25px;
    margin-left: 35%;
    color: #b0b0b0;
    position: absolute;
    left: 10%;
    margin-top: 300px;
    text-align: center;
}

.test {
    font-size: 20px;
    margin-top: 25px;
    margin-left: 32%;
    position: absolute;
    left: 10%;
    margin-top: 350px;
    text-align: center;
    /* Center-align the text within the element */
}

.saloon {
    margin-top: 80px;
    position: absolute;
    width: 70%;
    left: 15%;

}

.saloonwork {
    width: 30%;
    float: left;
    margin-right: 5%;
}

.footercontainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.navbar {
    padding: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
}

.navbar li {
    /* height: 80vh; */
    float: left;
    list-style: none;
    margin: 13px 23px;
}

a{
	text-decoration: none;
	color:#fff;
}
a:hover{
	text-decoration: none;
	color: #bbb;; 
}

.navbar ul {
    padding: 11px;
    margin: -5px;
    box-sizing: border-box;
}

.rate1{
    text-align: center;
    left: 10vw;
    width: 80vw;
    position: relative;
    bottom: -730px;
}

.rate{
    width: 60vw;
    height: 60vh;
    display: relative;
}

.rateshead{

    font-family: 'Cinzel', serif;
    text-align: center;
    color: #4a4949;
    text-decoration: underline;
    top: 1;
}

#pricelist{

    color: #4a4949;
}

.appointment{
    text-align: center;
    font-family: 'Cinzel', serif;
    color: #ffffff;
    left: 10%;
    background-repeat: no-repeat;
    background-size: 1800px 700px;
    width: 80vw;
    background-color: #363636;
    position: relative;
    bottom: -90vh;
}

.form{
    text-align: center;
    /* padding-bottom: 10vh; */
}